@import '~select2/dist/css/select2.min.css';
// Admin Light
// @import '~dropzone/dist/min/dropzone.min.css';
@import '~admin-lte/dist/css/AdminLTE.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';
@import 'dropzone';


.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-2 {
  margin: 0.50rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.50rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.50rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.50rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.50rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}
// ===========================./Margin==========================

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.50rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pt-2 {
  padding-top: 0.50rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.pr-2 {
  padding-right: 0.50rem !important;
}
.pr-3 {
  padding-right: 1rem !important;
}
.pr-4 {
  padding-right: 1.5rem !important;
}
.pr-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.pb-2 {
  padding-bottom: 0.50rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.pl-2 {
  padding-left: 0.50rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pl-4 {
  padding-left: 1.5rem !important;
}
.pl-5 {
  padding-left: 3rem !important;
}
// =======================./Padding=====================


//Border -----------------------------------------------
.bb-0{
  border-bottom: none !important;
}
.rounded-0{
  border-radius: 0 !important;
}

*{
  text-decoration: none !important;
}
.choosen-list {
  display: block;
  list-style-type: none;
  padding: 0;
}

.multi-input-list{
  display: block;
  padding: 0;
  list-style-type: none;
  .item{
    border-top: 3px solid #ebebeb;
    &:last-child{
      border-bottom: none;
    }
    .container{
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding: 0;
      &.open{
        background-color: #f7f7f7;
        .header{
          background-color: #e8e8e8;
          .icon{
            color: #999;
          }
          .action{
            color: #999;
          }
        }
        .body{
          display: block;
        }
      }
      .header{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        padding: 1rem 0;
        .icon{
          height: 34px;
          padding: 0 1rem;
          cursor: pointer;
          color: #ebebeb;
          &:hover{
            color: #555;
          }
          line-height: 34px;
        }
        .btn-images{
          border-radius: 0;
          margin-right: 1rem;
          border: 1px solid #d2d6de;
          i{
            color: #333;
          }
        }
        .label{
          color: #333;
          font-size: 1em;
          flex-grow: 2;
          text-align: left;
          line-height: 34px;
          padding: 0 8px;
          margin: 0;
          overflow: hidden;
          max-width: 184px;
        }
        .input{
          flex-grow:2;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #d2d6de;
        }
        .action{
          color: #ebebeb;
          &:hover{
            color: #555;
          }
        }
      }
      .body{
        padding: 1rem;
        display: none;
      }
    }
  }
}
