.pre-header{
  .service{
    span{
      vertical-align: middle;
    }
  }
  .social-nav{
    float: right;
    margin-left: auto;
    .social-list{
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;
      .item{
        display: inline;
        margin-left: 0.2em;
        a{
          display: inline-block;
          border: 1px solid;
          width: 28px;
          height: 28px;
          text-align: center;
          box-sizing: border-box;
          border-radius: 3px;
          border-color: rgba(0,0,0,0.15);
          background-color: #fff;
          color: $gray-600;
          i{
            font-size: 1.1em;
            line-height: 1.65rem;
            &.facebook:hover {
              color: $facebook;
            }
            &.twitter:hover {
              color: $twitter;
            }
            &.youtube:hover {
              color: #E32C28;
            }
            &.google-plus:hover {
              color: #dd5144;
            }
          }
        }
      }
    }
  }
}
.header-content{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  .logo-header{
    img{
      width: 228px;
      height: auto;
      vertical-align: middle;
    }
  }
}
.post-header{
  .main-nav{
    padding: 0;
    .navbar-nav {
      .nav-item{
        border-right: 1px solid #ebebeb;
        .nav-link{
          color: $black;
          font-weight: 600;
          font-size: 1.1em;
          padding: .7rem;
          line-height: 1.6;
        }
        &:last-child{
          // border-right: 0;
        }
      }
    }
    .login-wrap{
      color: $gray-600;
      a{
        color: $gray-600;
        &:hover{
          color: $gray-900;
        }
      }
    }
  }
}

.ticker-wrap{
  height: 32px;
  .title {
    a{
      h5{
        color: $white;
        background-color: $gray-700;
        font-weight: 600;
        font-size: 1.1em;
        margin: 0 .8rem 0 0;
        padding: 0.25rem 1.3rem 0.4rem 1.3rem;
      }
    }
  }
  .headlines{
    height: 32px;
    .list{
      margin: 0;
      padding: 0;
      display: block;
      list-style-type: none;
      li{
        display: inline;
        line-height: 1.9;
        padding-right: 1rem;
        &::before{
          content: "ï„¸";
          padding-right: 0.2rem;
          font: 14px FontAwesome;
        }
        a{
          color: $black;
          font-size: .9em;
        }
      }
    }
  }
}
