.cat-list{
  .list-group-item{
    text-align: center;
    padding: 0.4rem;
    margin-bottom: 0;
    &.active{
      background-color: $gray-700;
      border-color: $gray-700;
    }
    &:first-child,
    &:last-child{
      border-radius: 0;
    }
  }

}

.main-slide{
  .carousel-inner{
    .carousel-item{
      .link{
        .thumbnail-holder{
          width: 100%;
          height: 388px;
          img{
            height: inherit;
          }
          iframe{
            width: 100%;
            height: inherit;
          }
        }
      }
    }
    .carousel-control-prev{
      .carousel-control-prev-icon{
        background-color: rgba(0,0,0,0.35);
      }
    }
    .carousel-control-next{
      .carousel-control-next-icon{
        background-color: rgba(0,0,0,0.35);
        
      }
    }
  }
}
.mini-slide{
  .carousel-inner{
    .carousel-item{
      .link{
        .thumbnail-holder{
          width: 100%;
          height: 300px;
          img{
            height: inherit;
          }
          iframe{
            width: 100%;
            height: inherit;
          }
        }
      }
    }
    .carousel-control-prev{
      .carousel-control-prev-icon{
        background-color: rgba(0,0,0,0.35);
      }
    }
    .carousel-control-next{
      .carousel-control-next-icon{
        background-color: rgba(0,0,0,0.35);
        
      }
    }
  }
}
.more{
  margin: auto;
  text-align: center;
  .link{
    color: $white;    
    font-size: .9em;
    font-weight: 600;
    padding: 0.3em 0.8em;
  }
  .men{
    background-color: $men;
  }
  .women{
    background-color: $women;
  }
  .kid{
    background-color: $kid;
  }
  .boy{
    background-color: $boy;
  }
  .girl{
    background-color: $girl;
  }
}
.events{
  .link{
    .thumbnail-holder{
      width: 100%;
      height: 388px;
      img{
        width: inherit;
        height: inherit;
      }
    }
  }
}

.partner-wrap{
  .title {
    width: 246px;
    a{
      h5{
        color: $white;
        background-color: $gray-700;
        font-weight: 600;
        font-size: 1.5em;
        margin: 0;
        padding: 1.1rem;
      }
    }
  }
  .headlines{
    .list{
      margin: 0;
      padding: 0;
      display: block;
      list-style-type: none;
      li{
        display: inline-block;
        padding-right: 1rem;
        a{
          .thumbnail-holder{
            width: 128px;
            height: 64px;
            img{
              width: inherit;
              height: inherit;
            }
          }
        }
      }
    }
  }
}
.cat-box{
  position: relative;
  .link{
    img{
      width: 100%;
      height: 300px;
    }
    .title{
      top: 8px;
      left: -8px;
      margin: 0; 
      padding: .5rem .8rem;
      font-size: 1.3em;
      color: $white;
      position: absolute;
      border-left: 8px solid rgba(0,0,0,0.35);
      opacity: 0.9;
      filter: alpha(opacity=50)
    }
    .men{
      background-color: $men;
    }
    .women{
      background-color: $women;
    }
    .kid{
      background-color: $kid;
    }
    .boy{
      background-color: $boy;
    }
    .girl{
      background-color: $girl;
    }
  }
}


.footer-wrap{
  border-top: 6px solid $black;
  .page-wrap{
    .title{
      color: $white;
      margin-bottom: 1.8rem;
      font-size: 1.5em;
    }
  }
  .address-wrap{
    .title{
      color: $white;
      margin-bottom: 1.8rem;
      font-size: 1.5em;
    }
    address {
      letter-spacing: 1px;
      padding-left: 1.5rem;
      border-left: 3px solid $white;
      font-size: .9em;
      color: $white;
    }
  }
  .follow-wrap{
    .title{
      color: $white;
      margin-bottom: 1.8rem;
      font-size: 1.5em;
    }
    .app{
      margin-top: 1em;
      float: right;
      .link{
        img{
          width: 198px;
        }
      }
    }
  }
}
.post-wrap{
  background-color: $black;
  .post-footer{
    .post-title{
      color: $white;
      font-size: .8em;
      margin: 0;
      padding: .5rem;
      text-align: center;
    }
  }
}
