// Bootstrap
@import 'functions';
@import 'variables';
@import './elements/headers';
@import './elements/home';
@import '~bootstrap/scss/bootstrap';

body{
  background-color: $body-bg;
}
*{
  text-decoration: none !important;
}
.card-box {
  display: block;
  border-radius: 0;
  background-color: $white;
  margin-bottom: 0.75rem;
  // box-shadow: 2px 2px $gray-300;
}